# Ignore node_modules directory
node_modules/

# Ignore build artifacts
/build
/dist
/lib

# Ignore IDE and editor files
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Ignore temporary files
*.log
*.tmp
*.swp

# Miscellaneous
.DS_Store